In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import missingno as msno
%matplotlib inline


pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 400

# Colorado Lotto

In [2]:
df = pd.read_csv('/Users/taracelesta/DSI/cap_stone/capstone_tcb/data/colorado_lotto_data/co_lotto.csv')

In [3]:
df.head()

,Draw date,Last Day To Claim,Winning Numbers,Jackpot,Jackpot Cash Value,Jackpot CO Winners,Match 5 Prize,Match 5 CO Winners,Match 4 Prize,Match 4 CO Winners,Match 3 Prize,Match 3 CO Winners,Match 5 2X Prize,Match 5 2X Winners,Match 5 3X Prize,Match 5 3X Winners,Match 5 4X Prize,Match 5 4X Winners,Match 5 5X Prize,Match 5 5X Winners,Match 4 2X Prize,Match 4 2X Winners,Match 4 3X Prize,Match 4 3X Winners,Match 4 4X Prize,Match 4 4X Winners,Match 4 5X Prize,Match 4 5X Winners,Match 3 2X Prize,Match 3 2X Winners,Match 3 3X Prize,Match 3 3X Winners,Match 3 4X Prize,Match 3 4X Winners,Match 3 5X Prize,Match 3 5X Winners,Plus Winning Numbers,Plus Jackpot Winners,Plus Match 5 2X Prize,Plus Match 5 2X Winners,Plus Match 5 3X Prize,Plus Match 5 3X Winners,Plus Match 5 4X Prize,Plus Match 5 4X Winners,Plus Match 5 5X Prize,Plus Match 5 5X Winners,Plus Match 4 2X Prize,Plus Match 4 2X Winners,Plus Match 4 3X Prize,Plus Match 4 3X Winners,Plus Match 4 4X Prize,Plus Match 4 4X Winners,Plus Match 4 5X Prize,Plus Match 4 5X Winners,Plus Match 3 2X Prize,Plus Match 3 2X Winners,Plus Match 3 3X Prize,Plus Match 3 3X Winners,Plus Match 3 4X Prize,Plus Match 3 4X Winners,Plus Match 3 5X Prize,Plus Match 3 5X Winners
0,"Oct. 28, 2020",04/26/2021,3 - 12 - 17 - 18 - 36 - 39,"$8,235,824","$4,117,912",0.0,NaN,NaN,NaN,NaN,NaN,NaN,$500,8.0,$750,2.0,"$1,000",1.0,"$1,250",1.0,$50,233.0,$75,161.0,$100,50.0,$125,56.0,$6,3752.0,$9,2324.0,$12,780.0,$15,768.0,2 - 4 - 26 - 29 - 31 - 37,0.0,$600,3.0,$900,2.0,"$1,200",0.0,"$1,500",0.0,$60,119.0,$90,66.0,$120,32.0,$150,31.0,$8,1752.0,$12,1107.0,$16,345.0,$20,327.0
1,"Oct. 24, 2020",04/22/2021,5 - 6 - 9 - 14 - 18 - 29,"$7,993,276","$3,996,638",0.0,NaN,NaN,NaN,NaN,NaN,NaN,$500,8.0,$750,2.0,"$1,000",1.0,"$1,250",0.0,$50,321.0,$75,175.0,$100,78.0,$125,50.0,$6,4270.0,$9,2612.0,$12,864.0,$15,870.0,10 - 19 - 22 - 23 - 27 - 30,0.0,$600,4.0,$900,1.0,"$1,200",2.0,"$1,500",0.0,$60,157.0,$90,84.0,$120,25.0,$150,26.0,$8,2018.0,$12,1182.0,$16,379.0,$20,405.0
2,"Oct. 21, 2020",04/19/2021,7 - 16 - 18 - 19 - 30 - 37,"$7,736,749","$3,868,374",0.0,NaN,NaN,NaN,NaN,NaN,NaN,$500,5.0,$750,2.0,"$1,000",0.0,"$1,250",2.0,$50,253.0,$75,156.0,$100,59.0,$125,45.0,$6,3807.0,$9,2317.0,$12,776.0,$15,770.0,6 - 7 - 14 - 15 - 28 - 29,0.0,$600,3.0,$900,5.0,"$1,200",0.0,"$1,500",1.0,$60,121.0,$90,92.0,$120,25.0,$150,30.0,$8,1946.0,$12,1194.0,$16,378.0,$20,376.0
3,"Oct. 17, 2020",04/15/2021,4 - 8 - 16 - 21 - 33 - 38,"$7,487,734","$3,743,867",0.0,NaN,NaN,NaN,NaN,NaN,NaN,$500,9.0,$750,2.0,"$1,000",1.0,"$1,250",1.0,$50,267.0,$75,173.0,$100,56.0,$125,46.0,$6,3796.0,$9,2298.0,$12,735.0,$15,741.0,7 - 9 - 22 - 29 - 34 - 38,0.0,$600,3.0,$900,2.0,"$1,200",2.0,"$1,500",2.0,$60,146.0,$90,62.0,$120,27.0,$150,21.0,$8,1837.0,$12,1150.0,$16,346.0,$20,391.0
4,"Oct. 14, 2020",04/12/2021,14 - 18 - 30 - 31 - 34 - 35,"$7,241,456","$3,620,728",0.0,NaN,NaN,NaN,NaN,NaN,NaN,$500,7.0,$750,3.0,"$1,000",2.0,"$1,250",1.0,$50,232.0,$75,128.0,$100,46.0,$125,53.0,$6,3522.0,$9,2110.0,$12,697.0,$15,701.0,3 - 4 - 6 - 20 - 25 - 39,0.0,$600,3.0,$900,2.0,"$1,200",1.0,"$1,500",0.0,$60,123.0,$90,80.0,$120,27.0,$150,41.0,$8,1844.0,$12,1089.0,$16,381.0,$20,365.0

In [4]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

#### Split winning numbers into 6 seperate columns

In [5]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–", r"\\N"]
    
for char in spec_chars:
    df['winning_numbers'] = df['winning_numbers'].str.replace(char, ' ')

In [6]:
df = pd.concat([df, df['winning_numbers'].str.split(' ', expand=True)], axis=1)

In [7]:
df.drop(columns= 1, inplace=True)
df.drop(columns= 2, inplace=True)
df.drop(columns= 4, inplace=True)
df.drop(columns= 5, inplace=True)
df.drop(columns= 7, inplace=True)
df.drop(columns= 8, inplace=True)
df.drop(columns= 10, inplace=True)
df.drop(columns= 11, inplace=True)
df.drop(columns= 13, inplace=True)
df.drop(columns= 14, inplace=True)

In [8]:
df.rename(columns={0: 'ball_1',
        3: 'ball_2',
        6: 'ball_3',
        9: 'ball_4',
        12: 'ball_5',
        15: 'ball_6'}, inplace=True)

In [9]:
df.shape

(3229, 68)

In [10]:
df.isnull().sum()

draw_date                     0
last_day_to_claim             0
winning_numbers               0
jackpot                    1331
jackpot_cash_value         1331
jackpot_co_winners         1331
match_5_prize              1445
match_5_co_winners         1445
match_4_prize              1445
match_4_co_winners         1445
match_3_prize              1445
match_3_co_winners         1445
match_5_2x_prize           3115
match_5_2x_winners         3115
match_5_3x_prize           3115
match_5_3x_winners         3115
match_5_4x_prize           3115
match_5_4x_winners         3115
match_5_5x_prize           3115
match_5_5x_winners         3115
match_4_2x_prize           3115
match_4_2x_winners         3115
match_4_3x_prize           3115
match_4_3x_winners         3115
match_4_4x_prize           3115
match_4_4x_winners         3115
match_4_5x_prize           3115
match_4_5x_winners         3115
match_3_2x_prize           3115
match_3_2x_winners         3115
match_3_3x_prize           3115
match_3_3x_winners         3115
match_3_4x_prize           3115
match_3_4x_winners         3115
match_3_5x_prize           3115
match_3_5x_winners         3115
plus_winning_numbers       3115
plus_jackpot_winners       3115
plus_match_5_2x_prize      3115
plus_match_5_2x_winners    3115
plus_match_5_3x_prize      3115
plus_match_5_3x_winners    3115
plus_match_5_4x_prize      3115
plus_match_5_4x_winners    3115
plus_match_5_5x_prize      3115
plus_match_5_5x_winners    3115
plus_match_4_2x_prize      3115
plus_match_4_2x_winners    3115
plus_match_4_3x_prize      3115
plus_match_4_3x_winners    3115
plus_match_4_4x_prize      3115
plus_match_4_4x_winners    3115
plus_match_4_5x_prize      3115
plus_match_4_5x_winners    3115
plus_match_3_2x_prize      3115
plus_match_3_2x_winners    3115
plus_match_3_3x_prize      3115
plus_match_3_3x_winners    3115
plus_match_3_4x_prize      3115
plus_match_3_4x_winners    3115
plus_match_3_5x_prize      3115
plus_match_3_5x_winners    3115
ball_1                        0
ball_2                        0
ball_3                        0
ball_4                        0
ball_5                        0
ball_6                        0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3229 entries, 0 to 3228
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   draw_date                3229 non-null   object
 1   last_day_to_claim        3229 non-null   object
 2   winning_numbers          3229 non-null   object
 3   jackpot                  1898 non-null   object
 4   jackpot_cash_value       1898 non-null   object
 5   jackpot_co_winners       1898 non-null   float64
 6   match_5_prize            1784 non-null   object
 7   match_5_co_winners       1784 non-null   float64
 8   match_4_prize            1784 non-null   object
 9   match_4_co_winners       1784 non-null   float64
 10  match_3_prize            1784 non-null   object
 11  match_3_co_winners       1784 non-null   float64
 12  match_5_2x_prize         114 non-null    object
 13  match_5_2x_winners       114 non-null    float64
 14  match_5_3x_prize         114 non-null    object
 15  match_5_3x_winners       114 non-null    float64
 16  match_5_4x_prize         114 non-null    object
 17  match_5_4x_winners       114 non-null    float64
 18  match_5_5x_prize         114 non-null    object
 19  match_5_5x_winners       114 non-null    float64
 20  match_4_2x_prize         114 non-null    object
 21  match_4_2x_winners       114 non-null    float64
 22  match_4_3x_prize         114 non-null    object
 23  match_4_3x_winners       114 non-null    float64
 24  match_4_4x_prize         114 non-null    object
 25  match_4_4x_winners       114 non-null    float64
 26  match_4_5x_prize         114 non-null    object
 27  match_4_5x_winners       114 non-null    float64
 28  match_3_2x_prize         114 non-null    object
 29  match_3_2x_winners       114 non-null    float64
 30  match_3_3x_prize         114 non-null    object
 31  match_3_3x_winners       114 non-null    float64
 32  match_3_4x_prize         114 non-null    object
 33  match_3_4x_winners       114 non-null    float64
 34  match_3_5x_prize         114 non-null    object
 35  match_3_5x_winners       114 non-null    float64
 36  plus_winning_numbers     114 non-null    object
 37  plus_jackpot_winners     114 non-null    float64
 38  plus_match_5_2x_prize    114 non-null    object
 39  plus_match_5_2x_winners  114 non-null    float64
 40  plus_match_5_3x_prize    114 non-null    object
 41  plus_match_5_3x_winners  114 non-null    float64
 42  plus_match_5_4x_prize    114 non-null    object
 43  plus_match_5_4x_winners  114 non-null    float64
 44  plus_match_5_5x_prize    114 non-null    object
 45  plus_match_5_5x_winners  114 non-null    float64
 46  plus_match_4_2x_prize    114 non-null    object
 47  plus_match_4_2x_winners  114 non-null    float64
 48  plus_match_4_3x_prize    114 non-null    object
 49  plus_match_4_3x_winners  114 non-null    float64
 50  plus_match_4_4x_prize    114 non-null    object
 51  plus_match_4_4x_winners  114 non-null    float64
 52  plus_match_4_5x_prize    114 non-null    object
 53  plus_match_4_5x_winners  114 non-null    float64
 54  plus_match_3_2x_prize    114 non-null    object
 55  plus_match_3_2x_winners  114 non-null    float64
 56  plus_match_3_3x_prize    114 non-null    object
 57  plus_match_3_3x_winners  114 non-null    float64
 58  plus_match_3_4x_prize    114 non-null    object
 59  plus_match_3_4x_winners  114 non-null    float64
 60  plus_match_3_5x_prize    114 non-null    object
 61  plus_match_3_5x_winners  114 non-null    float64
 62  ball_1                   3229 non-null   object
 63  ball_2                   3229 non-null   object
 64  ball_3                   3229 non-null   object
 65  ball_4                   3229 non-null   object
 66  ball_5                   3229 non-null   object
 67  ball_6                   3229 non-null   object
dtypes: float64(29), object(39)
memory usage: 1.7+ MB

In [12]:
df['draw_date'] = pd.to_datetime(df['draw_date'],errors = 'coerce' )
df['last_day_to_claim'] = pd.to_datetime(df['last_day_to_claim'],errors = 'coerce' )

df['jackpot'] = pd.to_numeric(df.jackpot, errors = 'coerce' )
df['jackpot_cash_value'] = pd.to_numeric(df.jackpot_cash_value, errors = 'coerce' )

df['match_5_prize'] = pd.to_numeric(df.match_5_prize, errors = 'coerce' )
df['match_4_prize'] = pd.to_numeric(df.match_4_prize, errors = 'coerce' )
df['match_3_prize'] = pd.to_numeric(df.match_3_prize, errors = 'coerce' )

df['match_5_2x_prize'] = pd.to_numeric(df.match_5_2x_prize, errors = 'coerce' )
df['match_5_3x_prize'] = pd.to_numeric(df.match_5_3x_prize, errors = 'coerce' )
df['match_5_4x_prize'] = pd.to_numeric(df.match_5_4x_prize, errors = 'coerce' )
df['match_5_5x_prize'] = pd.to_numeric(df.match_5_5x_prize, errors = 'coerce' )

df['match_4_2x_prize'] = pd.to_numeric(df.match_4_2x_prize, errors = 'coerce' )
df['match_4_3x_prize'] = pd.to_numeric(df.match_4_3x_prize, errors = 'coerce' )
df['match_4_4x_prize'] = pd.to_numeric(df.match_4_4x_prize, errors = 'coerce' )
df['match_4_5x_prize'] = pd.to_numeric(df.match_4_5x_prize, errors = 'coerce' )

df['match_3_2x_prize'] = pd.to_numeric(df.match_3_2x_prize, errors = 'coerce' )
df['match_3_3x_prize'] = pd.to_numeric(df.match_3_3x_prize, errors = 'coerce' )
df['match_3_4x_prize'] = pd.to_numeric(df.match_3_4x_prize, errors = 'coerce' )
df['match_3_5x_prize'] = pd.to_numeric(df.match_3_5x_prize, errors = 'coerce' )

df['plus_match_5_2x_prize'] = pd.to_numeric(df.plus_match_5_2x_prize, errors = 'coerce' )
df['plus_match_5_3x_prize'] = pd.to_numeric(df.plus_match_5_3x_prize, errors = 'coerce' )
df['plus_match_5_4x_prize'] = pd.to_numeric(df.plus_match_5_4x_prize, errors = 'coerce' )
df['plus_match_5_5x_prize'] = pd.to_numeric(df.plus_match_5_5x_prize, errors = 'coerce' )

df['plus_match_4_2x_prize'] = pd.to_numeric(df.plus_match_4_2x_prize, errors = 'coerce' )
df['plus_match_4_3x_prize'] = pd.to_numeric(df.plus_match_4_3x_prize, errors = 'coerce' )
df['plus_match_4_4x_prize'] = pd.to_numeric(df.plus_match_4_4x_prize, errors = 'coerce' )
df['plus_match_4_5x_prize'] = pd.to_numeric(df.plus_match_4_5x_prize, errors = 'coerce' )

df['plus_match_3_2x_prize'] = pd.to_numeric(df.plus_match_3_2x_prize, errors = 'coerce' )
df['plus_match_3_3x_prize'] = pd.to_numeric(df.plus_match_3_3x_prize, errors = 'coerce' )
df['plus_match_3_4x_prize'] = pd.to_numeric(df.plus_match_3_4x_prize, errors = 'coerce' )
df['plus_match_3_5x_prize'] = pd.to_numeric(df.plus_match_3_5x_prize, errors = 'coerce' )

In [13]:
#df['plus_jackpot_winners'] = df['plus_jackpot_winners'].astype(int)
df['plus_jackpot_winners'] = pd.to_numeric(df.plus_jackpot_winners, downcast='signed',errors = 'coerce')

df['match_5_co_winners'] = pd.to_numeric(df.match_5_co_winners, downcast='signed',errors = 'coerce' )
df['match_4_co_winners'] = pd.to_numeric(df.match_4_co_winners, downcast='signed', errors = 'coerce' )
df['match_3_co_winners'] = pd.to_numeric(df.match_3_co_winners, downcast='signed', errors = 'coerce' )

df['match_5_2x_winners'] = pd.to_numeric(df.match_5_2x_winners, downcast='signed', errors = 'coerce' )
df['match_5_3x_winners'] = pd.to_numeric(df.match_5_3x_winners, downcast='signed', errors = 'coerce' )
df['match_5_4x_winners'] = pd.to_numeric(df.match_5_4x_winners, downcast='signed', errors = 'coerce' )
df['match_5_5x_winners'] = pd.to_numeric(df.match_5_5x_winners, downcast='signed', errors = 'coerce' )

df['match_4_2x_winners'] = pd.to_numeric(df.match_4_2x_winners, downcast='signed', errors = 'coerce' )
df['match_4_3x_winners'] = pd.to_numeric(df.match_4_3x_winners, downcast='signed', errors = 'coerce' )
df['match_4_4x_winners'] = pd.to_numeric(df.match_4_4x_winners, downcast='signed', errors = 'coerce' )
df['match_4_5x_winners'] = pd.to_numeric(df.match_4_5x_winners, downcast='signed', errors = 'coerce' )

df['match_3_2x_winners'] = pd.to_numeric(df.match_3_2x_winners, downcast='signed', errors = 'coerce' )
df['match_3_3x_winners'] = pd.to_numeric(df.match_3_3x_winners, downcast='signed', errors = 'coerce' )
df['match_3_4x_winners'] = pd.to_numeric(df.match_3_4x_winners, downcast='signed', errors = 'coerce' )
df['match_3_5x_winners'] = pd.to_numeric(df.match_3_5x_winners, downcast='signed', errors = 'coerce' )

# df['plus_jackpot_winners'] = df['plus_jackpot_winners'].astype(int)

# df['plus_match_5_2x_winners'] = pd.to_numeric(df.plus_match_5_2x_prize, errors = 'coerce' )
# df['plus_match_5_3x_winners'] = pd.to_numeric(df.plus_match_5_3x_prize, errors = 'coerce' )
# df['plus_match_5_4x_winners'] = pd.to_numeric(df.plus_match_5_4x_prize, errors = 'coerce' )
# df['plus_match_5_5x_winners'] = pd.to_numeric(df.plus_match_5_5x_prize, errors = 'coerce' )

# df['plus_match_4_2x_winners'] = pd.to_numeric(df.plus_match_4_2x_prize, errors = 'coerce' )
# df['plus_match_4_3x_winners'] = pd.to_numeric(df.plus_match_4_3x_prize, errors = 'coerce' )
# df['plus_match_4_4x_winners'] = pd.to_numeric(df.plus_match_4_4x_prize, errors = 'coerce' )
# df['plus_match_4_5x_winners'] = pd.to_numeric(df.plus_match_4_5x_prize, errors = 'coerce' )

# df['plus_match_3_2x_winners'] = pd.to_numeric(df.plus_match_3_2x_prize, errors = 'coerce' )
# df['plus_match_3_3x_winners'] = pd.to_numeric(df.plus_match_3_3x_prize, errors = 'coerce' )
# df['plus_match_3_4x_winners'] = pd.to_numeric(df.plus_match_3_4x_prize, errors = 'coerce' )
# df['plus_match_3_5x_winners'] = pd.to_numeric(df.plus_match_3_5x_prize, errors = 'coerce' )

In [26]:
df = df.astype({"plus_jackpot_winners":'int', "plus_jackpot_winners":'int'})

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [25]:
df.head()

,draw_date,last_day_to_claim,winning_numbers,jackpot,jackpot_cash_value,jackpot_co_winners,match_5_prize,match_5_co_winners,match_4_prize,match_4_co_winners,match_3_prize,match_3_co_winners,match_5_2x_prize,match_5_2x_winners,match_5_3x_prize,match_5_3x_winners,match_5_4x_prize,match_5_4x_winners,match_5_5x_prize,match_5_5x_winners,match_4_2x_prize,match_4_2x_winners,match_4_3x_prize,match_4_3x_winners,match_4_4x_prize,match_4_4x_winners,match_4_5x_prize,match_4_5x_winners,match_3_2x_prize,match_3_2x_winners,match_3_3x_prize,match_3_3x_winners,match_3_4x_prize,match_3_4x_winners,match_3_5x_prize,match_3_5x_winners,plus_winning_numbers,plus_jackpot_winners,plus_match_5_2x_prize,plus_match_5_2x_winners,plus_match_5_3x_prize,plus_match_5_3x_winners,plus_match_5_4x_prize,plus_match_5_4x_winners,plus_match_5_5x_prize,plus_match_5_5x_winners,plus_match_4_2x_prize,plus_match_4_2x_winners,plus_match_4_3x_prize,plus_match_4_3x_winners,plus_match_4_4x_prize,plus_match_4_4x_winners,plus_match_4_5x_prize,plus_match_4_5x_winners,plus_match_3_2x_prize,plus_match_3_2x_winners,plus_match_3_3x_prize,plus_match_3_3x_winners,plus_match_3_4x_prize,plus_match_3_4x_winners,plus_match_3_5x_prize,plus_match_3_5x_winners,ball_1,ball_2,ball_3,ball_4,ball_5,ball_6
0,2020-10-28,2021-04-26,3 12 17 18 36 39,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,2.0,NaN,1.0,NaN,1.0,NaN,233.0,NaN,161.0,NaN,50.0,NaN,56.0,NaN,3752.0,NaN,2324.0,NaN,780.0,NaN,768.0,2 - 4 - 26 - 29 - 31 - 37,0.0,NaN,3.0,NaN,2.0,NaN,0.0,NaN,0.0,NaN,119.0,NaN,66.0,NaN,32.0,NaN,31.0,NaN,1752.0,NaN,1107.0,NaN,345.0,NaN,327.0,3,12,17,18,36,39
1,2020-10-24,2021-04-22,5 6 9 14 18 29,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,2.0,NaN,1.0,NaN,0.0,NaN,321.0,NaN,175.0,NaN,78.0,NaN,50.0,NaN,4270.0,NaN,2612.0,NaN,864.0,NaN,870.0,10 - 19 - 22 - 23 - 27 - 30,0.0,NaN,4.0,NaN,1.0,NaN,2.0,NaN,0.0,NaN,157.0,NaN,84.0,NaN,25.0,NaN,26.0,NaN,2018.0,NaN,1182.0,NaN,379.0,NaN,405.0,5,6,9,14,18,29
2,2020-10-21,2021-04-19,7 16 18 19 30 37,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,2.0,NaN,0.0,NaN,2.0,NaN,253.0,NaN,156.0,NaN,59.0,NaN,45.0,NaN,3807.0,NaN,2317.0,NaN,776.0,NaN,770.0,6 - 7 - 14 - 15 - 28 - 29,0.0,NaN,3.0,NaN,5.0,NaN,0.0,NaN,1.0,NaN,121.0,NaN,92.0,NaN,25.0,NaN,30.0,NaN,1946.0,NaN,1194.0,NaN,378.0,NaN,376.0,7,16,18,19,30,37
3,2020-10-17,2021-04-15,4 8 16 21 33 38,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,2.0,NaN,1.0,NaN,1.0,NaN,267.0,NaN,173.0,NaN,56.0,NaN,46.0,NaN,3796.0,NaN,2298.0,NaN,735.0,NaN,741.0,7 - 9 - 22 - 29 - 34 - 38,0.0,NaN,3.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,146.0,NaN,62.0,NaN,27.0,NaN,21.0,NaN,1837.0,NaN,1150.0,NaN,346.0,NaN,391.0,4,8,16,21,33,38
4,2020-10-14,2021-04-12,14 18 30 31 34 35,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,3.0,NaN,2.0,NaN,1.0,NaN,232.0,NaN,128.0,NaN,46.0,NaN,53.0,NaN,3522.0,NaN,2110.0,NaN,697.0,NaN,701.0,3 - 4 - 6 - 20 - 25 - 39,0.0,NaN,3.0,NaN,2.0,NaN,1.0,NaN,0.0,NaN,123.0,NaN,80.0,NaN,27.0,NaN,41.0,NaN,1844.0,NaN,1089.0,NaN,381.0,NaN,365.0,14,18,30,31,34,35

# Lucky Numbers

In [15]:
co_l_n = pd.read_csv('/Users/taracelesta/DSI/cap_stone/capstone_tcb/data/colorado_lotto_data/co_lucky_num.csv')

In [16]:
co_l_n.head()

,Ball,Times drawn (excluding Plus),Last time drawn,Times drawn in Plus,Last time drawn in Plus
0,1,450,08/05/2020,14,09/30/2020
1,2,477,09/23/2020,13,10/28/2020
2,3,478,10/28/2020,19,10/14/2020
3,4,466,10/17/2020,17,10/28/2020
4,5,461,10/24/2020,19,09/30/2020

In [17]:
co_l_n['Last time drawn'].value_counts()

10/28/2020    6
10/24/2020    5
10/17/2020    5
10/21/2020    5
10/10/2020    3
10/14/2020    3
10/03/2020    2
10/07/2020    2
09/23/2020    2
08/15/2020    1
08/05/2020    1
09/30/2020    1
09/02/2020    1
09/19/2020    1
09/18/2019    1
09/12/2020    1
08/12/2020    1
09/11/2019    1
Name: Last time drawn, dtype: int64

# Lucky Stores

In [18]:
co_l_s = pd.read_csv('/Users/taracelesta/DSI/cap_stone/capstone_tcb/data/colorado_lotto_data/co_lucky_stores.csv', index_col = False )

In [19]:
co_l_s.head()

,Game,Store,Address,City,ZIP,Number of winners sold,Total amount won
0,Colorado Lotto+,7-ELEVEN #13157A,7270 BROADWAY,DENVER,80221,1,"$1,434"
1,Colorado Lotto+,7-ELEVEN #13197A,1645 E 17TH AVE,DENVER,80218,1,"$2,561"
2,Colorado Lotto+,7-ELEVEN #13213A,567 E LOUISIANA,DENVER,80210,1,"$1,375"
3,Colorado Lotto+,7-ELEVEN #16068A,2641 S ESTES,LAKEWOOD,80227,1,"$1,250"
4,Colorado Lotto+,7-ELEVEN #16094A,1120 S PARKER RD,DENVER,80231,1,"$983,380"

In [20]:
co_l_s.drop(columns=['Game', 'Store', 'Number of winners sold', 'Total amount won'], inplace=True)

In [21]:
co_l_s.head(2)

           Address    City    ZIP
0    7270 BROADWAY  DENVER  80221
1  1645 E 17TH AVE  DENVER  80218

In [22]:
new_columns_dict = {
    'Address': 'address',
    'City': 'city',
    'ZIP': 'zip',
}

co_l_s.rename(columns = new_columns_dict, inplace=True)

In [23]:
co_l_s.head()

            address      city    zip
0     7270 BROADWAY    DENVER  80221
1   1645 E 17TH AVE    DENVER  80218
2   567 E LOUISIANA    DENVER  80210
3      2641 S ESTES  LAKEWOOD  80227
4  1120 S PARKER RD    DENVER  80231

In [24]:
co_l_s.to_csv('co_l_s.csv')