In [5]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import missingno as msno
%matplotlib inline
import pickle

pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 400

# Colorado Lotto

In [6]:
df = pd.read_csv('../data/co_lotto.csv')

In [7]:
df.tail()

,Draw date,Last Day To Claim,Winning Numbers,Jackpot,Jackpot Cash Value,Jackpot CO Winners,Match 5 Prize,Match 5 CO Winners,Match 4 Prize,Match 4 CO Winners,Match 3 Prize,Match 3 CO Winners,Match 5 2X Prize,Match 5 2X Winners,Match 5 3X Prize,Match 5 3X Winners,Match 5 4X Prize,Match 5 4X Winners,Match 5 5X Prize,Match 5 5X Winners,Match 4 2X Prize,Match 4 2X Winners,Match 4 3X Prize,Match 4 3X Winners,Match 4 4X Prize,Match 4 4X Winners,Match 4 5X Prize,Match 4 5X Winners,Match 3 2X Prize,Match 3 2X Winners,Match 3 3X Prize,Match 3 3X Winners,Match 3 4X Prize,Match 3 4X Winners,Match 3 5X Prize,Match 3 5X Winners,Plus Winning Numbers,Plus Jackpot Winners,Plus Match 5 2X Prize,Plus Match 5 2X Winners,Plus Match 5 3X Prize,Plus Match 5 3X Winners,Plus Match 5 4X Prize,Plus Match 5 4X Winners,Plus Match 5 5X Prize,Plus Match 5 5X Winners,Plus Match 4 2X Prize,Plus Match 4 2X Winners,Plus Match 4 3X Prize,Plus Match 4 3X Winners,Plus Match 4 4X Prize,Plus Match 4 4X Winners,Plus Match 4 5X Prize,Plus Match 4 5X Winners,Plus Match 3 2X Prize,Plus Match 3 2X Winners,Plus Match 3 3X Prize,Plus Match 3 3X Winners,Plus Match 3 4X Prize,Plus Match 3 4X Winners,Plus Match 3 5X Prize,Plus Match 3 5X Winners
3234,"Feb. 25, 1989",08/24/1989,8 - 9 - 24 - 25 - 26 - 28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3235,"Feb. 18, 1989",08/17/1989,8 - 17 - 19 - 31 - 33 - 39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3236,"Feb. 11, 1989",08/10/1989,4 - 12 - 27 - 30 - 34 - 39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3237,"Feb. 4, 1989",08/03/1989,3 - 11 - 29 - 30 - 39 - 40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3238,"Jan. 28, 1989",07/27/1989,16 - 22 - 28 - 30 - 31 - 40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3239 entries, 0 to 3238
Data columns (total 62 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Draw date                3239 non-null   object
 1   Last Day To Claim        3239 non-null   object
 2   Winning Numbers          3239 non-null   object
 3   Jackpot                  1908 non-null   object
 4   Jackpot Cash Value       1908 non-null   object
 5   Jackpot CO Winners       1908 non-null   float64
 6   Match 5 Prize            1784 non-null   object
 7   Match 5 CO Winners       1784 non-null   float64
 8   Match 4 Prize            1784 non-null   object
 9   Match 4 CO Winners       1784 non-null   float64
 10  Match 3 Prize            1784 non-null   object
 11  Match 3 CO Winners       1784 non-null   float64
 12  Match 5 2X Prize         124 non-null    object
 13  Match 5 2X Winners       124 non-null    float64
 14  Match 5 3X Prize         124 non-null    object
 15  Match 5 3X Winners       124 non-null    float64
 16  Match 5 4X Prize         124 non-null    object
 17  Match 5 4X Winners       124 non-null    float64
 18  Match 5 5X Prize         124 non-null    object
 19  Match 5 5X Winners       124 non-null    float64
 20  Match 4 2X Prize         124 non-null    object
 21  Match 4 2X Winners       124 non-null    float64
 22  Match 4 3X Prize         124 non-null    object
 23  Match 4 3X Winners       124 non-null    float64
 24  Match 4 4X Prize         124 non-null    object
 25  Match 4 4X Winners       124 non-null    float64
 26  Match 4 5X Prize         124 non-null    object
 27  Match 4 5X Winners       124 non-null    float64
 28  Match 3 2X Prize         124 non-null    object
 29  Match 3 2X Winners       124 non-null    float64
 30  Match 3 3X Prize         124 non-null    object
 31  Match 3 3X Winners       124 non-null    float64
 32  Match 3 4X Prize         124 non-null    object
 33  Match 3 4X Winners       124 non-null    float64
 34  Match 3 5X Prize         124 non-null    object
 35  Match 3 5X Winners       124 non-null    float64
 36  Plus Winning Numbers     124 non-null    object
 37  Plus Jackpot Winners     124 non-null    float64
 38  Plus Match 5 2X Prize    124 non-null    object
 39  Plus Match 5 2X Winners  124 non-null    float64
 40  Plus Match 5 3X Prize    124 non-null    object
 41  Plus Match 5 3X Winners  124 non-null    float64
 42  Plus Match 5 4X Prize    124 non-null    object
 43  Plus Match 5 4X Winners  124 non-null    float64
 44  Plus Match 5 5X Prize    124 non-null    object
 45  Plus Match 5 5X Winners  124 non-null    float64
 46  Plus Match 4 2X Prize    124 non-null    object
 47  Plus Match 4 2X Winners  124 non-null    float64
 48  Plus Match 4 3X Prize    124 non-null    object
 49  Plus Match 4 3X Winners  124 non-null    float64
 50  Plus Match 4 4X Prize    124 non-null    object
 51  Plus Match 4 4X Winners  124 non-null    float64
 52  Plus Match 4 5X Prize    124 non-null    object
 53  Plus Match 4 5X Winners  124 non-null    float64
 54  Plus Match 3 2X Prize    124 non-null    object
 55  Plus Match 3 2X Winners  124 non-null    float64
 56  Plus Match 3 3X Prize    124 non-null    object
 57  Plus Match 3 3X Winners  124 non-null    float64
 58  Plus Match 3 4X Prize    124 non-null    object
 59  Plus Match 3 4X Winners  124 non-null    float64
 60  Plus Match 3 5X Prize    124 non-null    object
 61  Plus Match 3 5X Winners  124 non-null    float64
dtypes: float64(29), object(33)
memory usage: 1.5+ MB

#### Cleaning Characters

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [9]:
spec_chars = ["$",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–", r"\\N"]
    
for char in spec_chars:
    
    df['winning_numbers'] = df['winning_numbers'].str.replace(char,' ')
    df['plus_winning_numbers'] = df['plus_winning_numbers'].str.replace(char,' ')
    
    df['jackpot'] = df['jackpot'].str.replace(char, '')
    df['jackpot_cash_value'] = df['jackpot_cash_value'].str.replace(char, '')

    df['match_5_prize'] = df['match_5_prize'].str.replace(char, '')
    df['match_4_prize'] = df['match_4_prize'].str.replace(char, '')
    df['match_3_prize'] = df['match_3_prize'].str.replace(char, '')

    df['match_5_2x_prize'] = df['match_5_2x_prize'].str.replace(char, '')
    df['match_5_3x_prize'] = df['match_5_3x_prize'].str.replace(char, '')
    df['match_5_4x_prize'] = df['match_5_4x_prize'].str.replace(char, '')
    df['match_5_5x_prize'] = df['match_5_5x_prize'].str.replace(char, '')

    df['match_4_2x_prize'] = df['match_4_2x_prize'].str.replace(char, '')
    df['match_4_3x_prize'] = df['match_4_3x_prize'].str.replace(char, '')
    df['match_4_4x_prize'] = df['match_4_4x_prize'].str.replace(char, '')
    df['match_4_5x_prize'] = df['match_4_5x_prize'].str.replace(char, '')

    df['match_3_2x_prize'] = df['match_3_2x_prize'].str.replace(char, '')
    df['match_3_3x_prize'] = df['match_3_3x_prize'].str.replace(char, '')
    df['match_3_4x_prize'] = df['match_3_4x_prize'].str.replace(char, '')
    df['match_3_5x_prize'] = df['match_3_5x_prize'].str.replace(char, '')

    df['plus_match_5_2x_prize'] = df['plus_match_5_2x_prize'].str.replace(char, '')
    df['plus_match_5_3x_prize'] = df['plus_match_5_3x_prize'].str.replace(char, '')
    df['plus_match_5_4x_prize'] = df['plus_match_5_4x_prize'].str.replace(char, '')
    df['plus_match_5_5x_prize'] = df['plus_match_5_5x_prize'].str.replace(char, '')

    df['plus_match_4_2x_prize'] = df['plus_match_4_2x_prize'].str.replace(char, '')
    df['plus_match_4_3x_prize'] = df['plus_match_4_3x_prize'].str.replace(char, '')
    df['plus_match_4_4x_prize'] = df['plus_match_4_4x_prize'].str.replace(char, '')
    df['plus_match_4_5x_prize'] = df['plus_match_4_5x_prize'].str.replace(char, '')

    df['plus_match_3_2x_prize'] = df['plus_match_3_2x_prize'].str.replace(char, '')
    df['plus_match_3_3x_prize'] = df['plus_match_3_3x_prize'].str.replace(char, '')
    df['plus_match_3_4x_prize'] = df['plus_match_3_4x_prize'].str.replace(char, '')
    df['plus_match_3_5x_prize'] = df['plus_match_3_5x_prize'].str.replace(char, '')

#### Imputing Nulls

In [10]:
df['jackpot'] = pd.to_numeric(df.jackpot, downcast='float', errors = 'coerce' )
df['jackpot_cash_value'] = pd.to_numeric(df.jackpot_cash_value, downcast='float', errors = 'coerce' )

In [11]:
#No record of jackpot amount or winners previous of 6/27/03.
#imputing mean for missing jackpot amounts

mean_jackpot = np.mean(df['jackpot'])
mean_jackpot_cash_value = np.mean(df['jackpot_cash_value'])

df['jackpot'] = df['jackpot'].fillna(mean_jackpot) 
df['jackpot_cash_value'] = df['jackpot_cash_value'].fillna(mean_jackpot_cash_value)

In [12]:
#Change in Game on 3/23/2020: Match 5/4/3 x2/3/4/5 and Plus drawings began, replacing Match 5/4/3
#Match 5/4/3 recorded from 6/27/03 - 3/19/2020
#Match 5/4/3 x2/3/4/5 and Plus drawings recorded from 3/23/20 - current
#filling missing amounts with 0

df = df.fillna(0)

#### Cleaning Data Data tpyes

In [13]:
df['last_day_to_claim'] = pd.to_datetime(df['last_day_to_claim'],errors = 'coerce' )

In [14]:
df['jackpot_co_winners'] = df['jackpot_co_winners'].astype(int)

df['match_5_co_winners'] = df['match_5_co_winners'].astype(int)
df['match_4_co_winners'] = df['match_4_co_winners'].astype(int)
df['match_3_co_winners'] = df['match_3_co_winners'].astype(int)

df['match_5_2x_winners'] = df['match_5_2x_winners'].astype(int)
df['match_5_3x_winners'] = df['match_5_3x_winners'].astype(int)
df['match_5_4x_winners'] = df['match_5_4x_winners'].astype(int)
df['match_5_5x_winners'] = df['match_5_5x_winners'].astype(int)

df['match_4_2x_winners'] = df['match_4_2x_winners'].astype(int)
df['match_4_3x_winners'] = df['match_4_3x_winners'].astype(int)
df['match_4_4x_winners'] = df['match_4_4x_winners'].astype(int)
df['match_4_5x_winners'] = df['match_4_5x_winners'].astype(int)

df['match_3_2x_winners'] = df['match_3_2x_winners'].astype(int)
df['match_3_3x_winners'] = df['match_3_3x_winners'].astype(int)
df['match_3_4x_winners'] = df['match_3_4x_winners'].astype(int)
df['match_3_5x_winners'] = df['match_3_5x_winners'].astype(int)

df['plus_jackpot_winners'] = df['plus_jackpot_winners'].astype(int)

df['plus_match_5_2x_winners'] = df['plus_match_5_2x_winners'].astype(int)
df['plus_match_5_3x_winners'] = df['plus_match_5_3x_winners'].astype(int)
df['plus_match_5_4x_winners'] = df['plus_match_5_4x_winners'].astype(int)
df['plus_match_5_5x_winners'] = df['plus_match_5_5x_winners'].astype(int)

df['plus_match_4_2x_winners'] = df['plus_match_4_2x_winners'].astype(int)
df['plus_match_4_3x_winners'] = df['plus_match_4_3x_winners'].astype(int)
df['plus_match_4_4x_winners'] = df['plus_match_4_4x_winners'].astype(int)
df['plus_match_4_5x_winners'] = df['plus_match_4_5x_winners'].astype(int)

df['plus_match_3_2x_winners'] = df['plus_match_3_2x_winners'].astype(int)
df['plus_match_3_3x_winners'] = df['plus_match_3_3x_winners'].astype(int)
df['plus_match_3_4x_winners'] = df['plus_match_3_4x_winners'].astype(int)
df['plus_match_3_5x_winners'] = df['plus_match_3_5x_winners'].astype(int)

In [15]:
df['match_5_prize'] = pd.to_numeric(df.match_5_prize, errors = 'coerce' )
df['match_4_prize'] = pd.to_numeric(df.match_4_prize, errors = 'coerce' )
df['match_3_prize'] = pd.to_numeric(df.match_3_prize, errors = 'coerce' )

df['match_5_2x_prize'] = pd.to_numeric(df.match_5_2x_prize, errors = 'coerce' )
df['match_5_3x_prize'] = pd.to_numeric(df.match_5_3x_prize, errors = 'coerce' )
df['match_5_4x_prize'] = pd.to_numeric(df.match_5_4x_prize, errors = 'coerce' )
df['match_5_5x_prize'] = pd.to_numeric(df.match_5_5x_prize, errors = 'coerce' )

df['match_4_2x_prize'] = pd.to_numeric(df.match_4_2x_prize, errors = 'coerce' )
df['match_4_3x_prize'] = pd.to_numeric(df.match_4_3x_prize, errors = 'coerce' )
df['match_4_4x_prize'] = pd.to_numeric(df.match_4_4x_prize, errors = 'coerce' )
df['match_4_5x_prize'] = pd.to_numeric(df.match_4_5x_prize, errors = 'coerce' )

df['match_3_2x_prize'] = pd.to_numeric(df.match_3_2x_prize, errors = 'coerce' )
df['match_3_3x_prize'] = pd.to_numeric(df.match_3_3x_prize, errors = 'coerce' )
df['match_3_4x_prize'] = pd.to_numeric(df.match_3_4x_prize, errors = 'coerce' )
df['match_3_5x_prize'] = pd.to_numeric(df.match_3_5x_prize, errors = 'coerce' )

df['plus_match_5_2x_prize'] = pd.to_numeric(df.plus_match_5_2x_prize, errors = 'coerce' )
df['plus_match_5_3x_prize'] = pd.to_numeric(df.plus_match_5_3x_prize, errors = 'coerce' )
df['plus_match_5_4x_prize'] = pd.to_numeric(df.plus_match_5_4x_prize, errors = 'coerce' )
df['plus_match_5_5x_prize'] = pd.to_numeric(df.plus_match_5_5x_prize, errors = 'coerce' )

df['plus_match_4_2x_prize'] = pd.to_numeric(df.plus_match_4_2x_prize, errors = 'coerce' )
df['plus_match_4_3x_prize'] = pd.to_numeric(df.plus_match_4_3x_prize, errors = 'coerce' )
df['plus_match_4_4x_prize'] = pd.to_numeric(df.plus_match_4_4x_prize, errors = 'coerce' )
df['plus_match_4_5x_prize'] = pd.to_numeric(df.plus_match_4_5x_prize, errors = 'coerce' )

df['plus_match_3_2x_prize'] = pd.to_numeric(df.plus_match_3_2x_prize, errors = 'coerce' )
df['plus_match_3_3x_prize'] = pd.to_numeric(df.plus_match_3_3x_prize, errors = 'coerce' )
df['plus_match_3_4x_prize'] = pd.to_numeric(df.plus_match_3_4x_prize, errors = 'coerce' )
df['plus_match_3_5x_prize'] = pd.to_numeric(df.plus_match_3_5x_prize, errors = 'coerce' )

#### Split winning numbers into 6 seperate columns

In [16]:
df = pd.concat([df, df['winning_numbers'].str.split(' ', expand=True)], axis=1)

In [17]:
df.drop(columns= 1, inplace=True)
df.drop(columns= 2, inplace=True)
df.drop(columns= 4, inplace=True)
df.drop(columns= 5, inplace=True)
df.drop(columns= 7, inplace=True)
df.drop(columns= 8, inplace=True)
df.drop(columns= 10, inplace=True)
df.drop(columns= 11, inplace=True)
df.drop(columns= 13, inplace=True)
df.drop(columns= 14, inplace=True)

In [18]:
df.rename(columns={0: 'ball_1',
        3: 'ball_2',
        6: 'ball_3',
        9: 'ball_4',
        12: 'ball_5',
        15: 'ball_6'}, inplace=True)

In [19]:
df = pd.concat([df, df['plus_winning_numbers'].str.split(' ', expand=True)], axis=1)

In [20]:
df.drop(columns= 1, inplace=True)
df.drop(columns= 2, inplace=True)
df.drop(columns= 4, inplace=True)
df.drop(columns= 5, inplace=True)
df.drop(columns= 7, inplace=True)
df.drop(columns= 8, inplace=True)
df.drop(columns= 10, inplace=True)
df.drop(columns= 11, inplace=True)
df.drop(columns= 13, inplace=True)
df.drop(columns= 14, inplace=True)

#### Creating Integer Ball numbers

In [21]:
df['ball_1_int'] = pd.to_numeric(df.ball_1, errors = 'coerce' )
df['ball_2_int'] = pd.to_numeric(df.ball_2, errors = 'coerce' )
df['ball_3_int'] = pd.to_numeric(df.ball_3, errors = 'coerce' )
df['ball_4_int'] = pd.to_numeric(df.ball_4, errors = 'coerce' )
df['ball_5_int'] = pd.to_numeric(df.ball_5, errors = 'coerce' )
df['ball_6_int'] = pd.to_numeric(df.ball_6, errors = 'coerce' )

#### Creating Winning number List

In [22]:
def string_to_list(list_):
    list_ = list_.replace(', ', '","').split(',')
    return list_

In [23]:
df['winning_numbers_list'] = df['winning_numbers'].apply(string_to_list)

#### Creating delta numbers

In [24]:
a = pd.DataFrame(df['ball_2_int'].values - df['ball_1_int'].values, columns = ['delta_1'])
b = pd.DataFrame(df['ball_3_int'].values - df['ball_2_int'].values, columns = ['delta_2'])
c = pd.DataFrame(df['ball_4_int'].values - df['ball_3_int'].values, columns = ['delta_3'])
d = pd.DataFrame(df['ball_5_int'].values - df['ball_4_int'].values, columns = ['delta_4'])
e = pd.DataFrame(df['ball_6_int'].values - df['ball_5_int'].values, columns = ['delta_5'])

deltas = pd.concat([a,b,c,d,e], axis = 1)

deltas['delta_1']= deltas.delta_1.abs()
deltas['delta_2']= deltas.delta_2.abs()
deltas['delta_3']= deltas.delta_3.abs()
deltas['delta_4']= deltas.delta_4.abs()
deltas['delta_5']= deltas.delta_5.abs()

df = pd.concat([df, deltas], axis = 1)

#### Grouping Numbers

In [25]:
#code inspiration from https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/

df['b_1_odd_even'] = np.where(df['ball_1_int']%2 == 0, 0,1)
df['b_2_odd_even'] = np.where(df['ball_2_int']%2 == 0, 0,1)
df['b_3_odd_even'] = np.where(df['ball_3_int']%2 == 0, 0,1)
df['b_4_odd_even'] = np.where(df['ball_4_int']%2 == 0, 0,1)
df['b_5_odd_even'] = np.where(df['ball_5_int']%2 == 0, 0,1)
df['b_6_odd_even'] = np.where(df['ball_6_int']%2 == 0, 0,1)

#1 = odd
#0 = even

In [26]:
df['odd_even'] = df['b_1_odd_even'] + df['b_2_odd_even'] + df['b_3_odd_even']+ df['b_4_odd_even']+ df['b_5_odd_even']+df['b_6_odd_even']

#0= all evens
#1= 5 even/ 1 odd
#2= 4 even/2 odd
#3= 3 even/ 3 odd
#4= 2 even / 4 odd
#5= 1 even / 5 odd
#6= 6 odd

In [27]:
df['b_1_high_low'] = np.where(df['ball_1_int']< 21, 0,1)
df['b_2_high_low'] = np.where(df['ball_2_int']< 21, 0,1)
df['b_3_high_low'] = np.where(df['ball_3_int']< 21, 0,1)
df['b_4_high_low'] = np.where(df['ball_4_int']< 21, 0,1)
df['b_5_high_low'] = np.where(df['ball_5_int']< 21, 0,1)
df['b_6_high_low'] = np.where(df['ball_6_int']< 21, 0,1)

#0 = 1-20
#1 = 21-40

In [28]:
df['high_low'] = df['b_1_high_low'] + df['b_2_high_low'] + df['b_3_high_low']+ df['b_4_high_low']+ df['b_5_high_low']+df['b_6_high_low']

#0= all low
#1= 5 low/ 1 high
#2= 4 low/2 high
#3= 3 low/ 3 high
#4= 2 low / 4 high
#5= 1 low / 5 high
#6= 6 high

In [29]:
df['b_1_IQR'] = np.where((df['ball_1_int'] >11) & (df['ball_1_int']<31), 0,1)
df['b_2_IQR'] = np.where((df['ball_2_int'] >11) & (df['ball_2_int']<31), 0,1)
df['b_3_IQR'] = np.where((df['ball_3_int'] >11) & (df['ball_3_int']<31), 0,1)
df['b_4_IQR'] = np.where((df['ball_4_int'] >11) & (df['ball_4_int']<31), 0,1)
df['b_5_IQR'] = np.where((df['ball_5_int'] >11) & (df['ball_5_int']<31), 0,1)
df['b_6_IQR'] = np.where((df['ball_6_int'] >11) & (df['ball_6_int']<31), 0,1)

#0 = 11-30
#1 = 1-10 & 31-40

In [30]:
df['IQR'] = df['b_1_IQR'] + df['b_2_IQR'] + df['b_3_IQR']+ df['b_4_IQR']+ df['b_5_IQR']+df['b_6_IQR']

#0= all OQR (outer quartile range)
#1= 5 OQR/ 1 IQR
#2= 4 OQR/2 IQR
#3= 3 OQR/ 3 IQR
#4= 2 OQR / 4 IQR
#5= 1 OQR / 5 IQR
#6= 6 IQR

In [31]:
#Dummy columns
dummies = pd.get_dummies(df, columns = ['IQR', 'high_low','odd_even'])
df = df[['IQR', 'high_low','odd_even']]

In [32]:
df = pd.concat([df, dummies], axis = 1)

#### Creating Dates

In [33]:
df['draw_date']=pd.to_datetime(df['draw_date'],errors = 'coerce' )

In [34]:
df['draw_month'] = df['draw_date'].dt.strftime('%m')
df['draw_year'] = df['draw_date'].dt.strftime('%Y')
df['draw_day'] = df['draw_date'].dt.strftime('%d')

#### Organizing df

In [36]:
df = df[['draw_date','draw_year','draw_month','draw_day',
         'winning_numbers_list', 'winning_numbers', 
         'ball_1', 'ball_2','ball_3','ball_4', 'ball_5', 'ball_6', 
         'ball_1_int', 'ball_2_int','ball_3_int','ball_4_int', 'ball_5_int', 'ball_6_int',
         'odd_even','odd_even_0','odd_even_1','odd_even_2','odd_even_3','odd_even_4','odd_even_5','odd_even_6',
         'high_low','high_low_0','high_low_1','high_low_2','high_low_3','high_low_4','high_low_5','high_low_6',
         'IQR', 'IQR_0','IQR_1','IQR_2','IQR_3','IQR_4','IQR_5','IQR_6',
         'delta_1', 'delta_2', 'delta_3', 'delta_4', 'delta_5',
         'jackpot', 'jackpot_cash_value', 'jackpot_co_winners',
         'match_5_prize','match_5_co_winners', 
         'match_4_prize', 'match_4_co_winners',
         'match_3_prize', 'match_3_co_winners', 
         'match_5_2x_prize', 'match_5_2x_winners', 
         'match_5_3x_prize', 'match_5_3x_winners',
         'match_5_4x_prize', 'match_5_4x_winners', 
         'match_5_5x_prize','match_5_5x_winners', 
         'match_4_2x_prize', 'match_4_2x_winners',
         'match_4_3x_prize', 'match_4_3x_winners', 
         'match_4_4x_prize','match_4_4x_winners', 
         'match_4_5x_prize', 'match_4_5x_winners',
         'match_3_2x_prize', 'match_3_2x_winners', 
         'match_3_3x_prize','match_3_3x_winners', 
         'match_3_4x_prize', 'match_3_4x_winners',
         'match_3_5x_prize', 'match_3_5x_winners',
        ]]

In [37]:
df.head()

,draw_date,draw_year,draw_month,draw_day,winning_numbers_list,winning_numbers,ball_1,ball_2,ball_3,ball_4,ball_5,ball_6,ball_1_int,ball_2_int,ball_3_int,ball_4_int,ball_5_int,ball_6_int,odd_even,odd_even_0,odd_even_1,odd_even_2,odd_even_3,odd_even_4,odd_even_5,odd_even_6,high_low,high_low_0,high_low_1,high_low_2,high_low_3,high_low_4,high_low_5,high_low_6,IQR,IQR_0,IQR_1,IQR_2,IQR_3,IQR_4,IQR_5,IQR_6,delta_1,delta_2,delta_3,delta_4,delta_5,jackpot,jackpot_cash_value,jackpot_co_winners,match_5_prize,match_5_co_winners,match_4_prize,match_4_co_winners,match_3_prize,match_3_co_winners,match_5_2x_prize,match_5_2x_winners,match_5_3x_prize,match_5_3x_winners,match_5_4x_prize,match_5_4x_winners,match_5_5x_prize,match_5_5x_winners,match_4_2x_prize,match_4_2x_winners,match_4_3x_prize,match_4_3x_winners,match_4_4x_prize,match_4_4x_winners,match_4_5x_prize,match_4_5x_winners,match_3_2x_prize,match_3_2x_winners,match_3_3x_prize,match_3_3x_winners,match_3_4x_prize,match_3_4x_winners,match_3_5x_prize,match_3_5x_winners
0,2020-12-02,2020,12,02,[22 27 28 29 33 36],22 27 28 29 33 36,22,27,28,29,33,36,22,27,28,29,33,36,3,0,0,0,1,0,0,0,6,0,0,0,0,0,0,1,2,0,0,1,0,0,0,0,5,1,1,4,3,11085298.0,5542649.0,0,0,0,0,0,0,0,500,6,750,4,1000,1,1250,1,50,293,75,165,100,63,125,63,6,4468,9,2746,12,913,15,903
1,2020-11-28,2020,11,28,[1 5 23 25 29 40],1 5 23 25 29 40,1,5,23,25,29,40,1,5,23,25,29,40,5,0,0,0,0,0,1,0,4,0,0,0,0,1,0,0,3,0,0,0,1,0,0,0,4,18,2,4,11,10781834.0,5390917.0,0,0,0,0,0,0,0,500,7,750,4,1000,2,1250,1,50,289,75,185,100,60,125,71,6,4534,9,2690,12,878,15,984
2,2020-11-25,2020,11,25,[3 21 22 23 30 37],3 21 22 23 30 37,3,21,22,23,30,37,3,21,22,23,30,37,4,0,0,0,0,1,0,0,5,0,0,0,0,0,1,0,2,0,0,1,0,0,0,0,18,1,1,7,7,10500925.0,5250462.0,0,0,0,0,0,0,0,500,8,750,3,1000,1,1250,1,50,328,75,177,100,71,125,74,6,4610,9,2825,12,931,15,910
3,2020-11-21,2020,11,21,[1 13 18 25 37 40],1 13 18 25 37 40,1,13,18,25,37,40,1,13,18,25,37,40,4,0,0,0,0,1,0,0,3,0,0,0,1,0,0,0,3,0,0,0,1,0,0,0,12,5,7,12,3,10193214.0,5096607.0,0,0,0,0,0,0,0,500,3,750,4,1000,1,1250,1,50,338,75,177,100,69,125,63,6,4533,9,2765,12,907,15,876
4,2020-11-18,2020,11,18,[4 7 9 14 15 18],4 7 9 14 15 18,4,7,9,14,15,18,4,7,9,14,15,18,3,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,3,0,0,0,1,0,0,0,3,2,5,1,3,9889874.0,4944937.0,0,0,0,0,0,0,0,500,11,750,3,1000,3,1250,1,50,344,75,192,100,66,125,68,6,4844,9,2821,12,895,15,966

#### Export

In [42]:
df.to_csv(r'../data/co_lotto_clean.csv')

In [43]:
df.to_pickle(r'../data/co_lotto.pkl')

# Lucky Numbers

In [44]:
co_l_n = pd.read_csv('../data/co_lucky_num.csv')

In [45]:
co_l_n.head()

,Ball,Times drawn (excluding Plus),Last time drawn,Times drawn in Plus,Last time drawn in Plus
0,1,452,11/28/2020,18,12/02/2020
1,2,479,11/11/2020,14,11/11/2020
2,3,481,11/25/2020,23,11/18/2020
3,4,467,11/18/2020,17,10/28/2020
4,5,462,11/28/2020,19,09/30/2020

In [46]:
co_l_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ball                          42 non-null     int64
 1   Times drawn (excluding Plus)  42 non-null     int64
 2   Last time drawn               42 non-null     object
 3   Times drawn in Plus           42 non-null     int64
 4   Last time drawn in Plus       42 non-null     object
dtypes: int64(3), object(2)
memory usage: 1.8+ KB

#### Cleaning Characters

In [47]:
co_l_n.columns = co_l_n.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

#### Cleaning Data Types

In [48]:
co_l_n['last_time_drawn'] = pd.to_datetime(co_l_n['last_time_drawn'],errors = 'coerce' )
co_l_n['last_time_drawn_in_plus'] = pd.to_datetime(co_l_n['last_time_drawn_in_plus'],errors = 'coerce' )

In [49]:
co_l_n['ball'] = co_l_n['ball'].astype(str)

In [50]:
co_l_n['ball_int'] = pd.to_numeric(co_l_n.ball, errors = 'coerce')

#### Index to date

In [51]:
co_l_n = co_l_n.set_index('last_time_drawn')

In [52]:
co_l_n['year'] = co_l_n.index.year

In [53]:
co_l_n['month'] = co_l_n.index.month

In [54]:
co_l_n['day'] = co_l_n.index.day

#### Export

In [55]:
co_l_n.to_csv(r'../data/co_lucky_num_clean.csv')

In [56]:
co_l_n.to_pickle(r'../data/co_lucky_num.pkl')

# Lucky Stores

In [57]:
co_l_s = pd.read_csv('../data/co_lucky_stores.csv', index_col = False )

In [58]:
co_l_s.head()

,Game,Store,Address,City,ZIP,Number of winners sold,Total amount won
0,Colorado Lotto+,7-ELEVEN #13157A,7270 BROADWAY,DENVER,80221,1,"$1,434"
1,Colorado Lotto+,7-ELEVEN #13197A,1645 E 17TH AVE,DENVER,80218,1,"$2,561"
2,Colorado Lotto+,7-ELEVEN #13213A,567 E LOUISIANA,DENVER,80210,1,"$1,375"
3,Colorado Lotto+,7-ELEVEN #16068A,2641 S ESTES,LAKEWOOD,80227,1,"$1,250"
4,Colorado Lotto+,7-ELEVEN #16094A,1120 S PARKER RD,DENVER,80231,1,"$983,380"

In [59]:
co_l_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Game                    431 non-null    object
 1   Store                   431 non-null    object
 2   Address                 431 non-null    object
 3   City                    431 non-null    object
 4   ZIP                     431 non-null    int64
 5   Number of winners sold  431 non-null    int64
 6   Total amount won        431 non-null    object
dtypes: int64(2), object(5)
memory usage: 23.7+ KB

#### Cleaning Characters

In [60]:
co_l_s.columns = co_l_s.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [61]:
co_l_s.drop(columns=['game'], inplace=True)

In [62]:
spec_chars = ["$",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–", r"\\N"]
    
for char in spec_chars:
    co_l_s['total_amount_won'] = co_l_s['total_amount_won'].str.replace(char,'')

#### Cleaning Data Types

In [63]:
co_l_s['zip'] = co_l_s['zip'].astype(str)
co_l_s['total_amount_won'] = co_l_s['total_amount_won'].astype(int)

#### Export

In [64]:
co_l_s.to_csv(r'../data/co_lucky_stores_clean.csv')

In [65]:
co_l_s.to_pickle(r'../data/co_lucky_stores.pkl')

# Geo Data

In [66]:
geo = pd.read_csv('/Users/taracelesta/DSI/cap_stone/capstone_tcb/data/co_l_s_geocodio.csv', 
                  index_col = False,
                 usecols=['address', 'city', 'zip','Latitude','Longitude','Number','Street','Country','County','ACS Demographics/Sex/Total/Value'])

In [67]:
geo.head()

,address,city,zip,Latitude,Longitude,Number,Street,County,Country,ACS Demographics/Sex/Total/Value
0,7270 BROADWAY,DENVER,80221,39.828805,-104.987024,7270,Broadway St,Adams County,US,1880.0
1,1645 E 17TH AVE,DENVER,80218,39.743477,-104.967562,1645,E 17th Ave,Denver County,US,1540.0
2,567 E LOUISIANA,DENVER,80210,39.676626,-104.962315,567,E Louisiana,Denver County,US,NaN
3,2641 S ESTES,LAKEWOOD,80227,39.668722,-105.095530,2641,S Estes St,Jefferson County,US,877.0
4,1120 S PARKER RD,DENVER,80231,39.696117,-104.896244,1120,S Parker Rd,Arapahoe County,US,2012.0

In [68]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   address                           431 non-null    object
 1   city                              431 non-null    object
 2   zip                               431 non-null    int64
 3   Latitude                          431 non-null    float64
 4   Longitude                         431 non-null    float64
 5   Number                            431 non-null    int64
 6   Street                            431 non-null    object
 7   County                            431 non-null    object
 8   Country                           431 non-null    object
 9   ACS Demographics/Sex/Total/Value  424 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 33.8+ KB

#### Cleaning Characters

In [69]:
geo.rename(columns={'ACS Demographics/Sex/Total/Value': 'population_count'}, inplace=True)
geo.columns = geo.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [70]:
df = df.fillna(0)

#### Imputing Nulls

In [71]:
#code inspiration from: https://stackoverflow.com/questions/19966018/pandas-filling-missing-values-by-mean-in-each-group

2geo['population_count']=geo.groupby('city')['population_count'].apply(lambda x:x.fillna(x.mean()))
geo['population_count'] = geo['population_count'].fillna(geo.groupby('city')['population_count'].transform('mean'))
geo.loc[geo.population_count.isnull(), 'population_count'] = geo.groupby('city').population_count.transform('mean')

#### Cleaning Data Types

In [72]:
geo['zip'] = geo['zip'].astype(str).str.zfill(5)
geo['number'] = geo['number'].astype(str)

In [73]:
geo['number'] = geo['number'].astype(int)

#### Creating Coordinance Column

In [74]:
geo['coordinance'] = list(zip(geo.latitude, geo.longitude))

#### Export

In [75]:
geo.to_csv(r'../data/co_l_s_geo_clean.csv')

In [76]:
geo.to_pickle('../data/co_l_s_geo.pkl')